<div *ngIf="isLogin()" class="topics">
  <a
    class="nav-link disabled"
    *ngFor="let topic of getTopics()"
    (click)="getImages($event)"
    >{{ topic }}</a
  >
</div>

<div *ngIf="hasContent()" id="images">
  <div class="image">
  <img
    *ngFor="let picture of getPics()"
    src="{{ picture.url }}"
    alt="{{ picture.alt }}"
  />
  </div>
</div>
<p *ngIf="isLogin() && !hasContent()" (click)="print()" id="text">{{ text }}</p>

<p *ngIf="isLogin() && !hasContent()" id="text">No idea what to add? No problem! Click "Default" button in the nav bar.</p>