#images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
}

.image {
  padding: 1rem;
  border-radius: 33px;
}

p {
  font-family: "DotGothic16", sans-serif;
  font-size: 27px;
  font-weight: 300;
  text-align: center;
  padding: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
