<div class="nav">
  <a class="logo" (click)="refresh()">Image Finder</a>
  <div class="topnav">
    <div class="search_bar">
      <input
        id="search-bar"
        type="search"
        placeholder="Enter Image Catergory"
        aria-label="Search"
        (change)="updateSearch($event)"
      />
      <button class="bar" (click)="addData()" id="search-submit" type="submit">
        Add
      </button>
    </div>
    <!-- dropdown.component.html
    <button igxButton="raised" 
            [igxToggleAction]="dropdown" 
            [igxDropDownItemNavigation]="dropdown">
            Delete Catergory
    </button>
    <igx-drop-down #dropdown (onOpening)="dropdown.setSelectedItem(0)">
      <igx-drop-down-item *ngFor="let item of items">
        {{ item.field }}
      </igx-drop-down-item>
    </igx-drop-down> -->

    <div class="dropdown">
      <div class="input-group">
        <select class="custom-select" id="inputGroupSelect04">
          <option selected>Choose...</option>
          <option class="dropdown-item" href="#" *ngFor="let topic of getTopics()"> {{topic}}</option>
        </select>
      </div>
    </div>

    <!--   <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
      Choose Catergory
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" *ngFor="let topic of getTopics()"> {{topic}}</a>
     </div> -->
      <button>
        Delete Catergory
      </button>
    
  </div>
</div>
