<div class="nav">
  <a class="logo" (click)="refresh()">Image Finder</a>
  <div class="topnav">
    <div class="search_bar">
      <input
        id="search-bar"
        type="search"
        placeholder="Enter Image Catergory"
        aria-label="Search"
        (change)="updateSearch($event)"
      />
      <button class="bar" (click)="addData()" id="search-submit" type="submit">
        Add
      </button>
    </div>

    <div class="dropdown">
      <div class="input-group">
        <select 
          (change)="updateDelete($event)"
          class="custom-select"
          id="inputGroupSelect04"
        >
          <option selected>Choose...</option>
          <option
            class="dropdown-item"
            href="#"
            *ngFor="let topic of getTopics()"
          >
            {{ topic }}
          </option>
        </select>
      </div>
      <button (click)="deleteData()">Delete Catergory</button>
    </div>
    <div class="dropdown">
      <div class="input-group">
        <select 
          (change)="updateReplaceOld($event)"
          class="custom-select"
          id="inputGroupSelect05"
        >
          <option selected>Choose...</option>
          <option
            class="dropdown-item"
            href="#"
            *ngFor="let topic of getTopics()"
          >
            {{ topic }}
          </option>
        </select>
      </div>
        <div>
          <input
            id="replace-bar"
            type="replace"
            placeholder="Enter Catergory to Replace"
            aria-label="Replace"
            (change)="updateReplaceNew($event)"
          />
          <button class="bar" (click)="replaceData()" id="replace-submit" type="submit">
            Replace
          </button>
        </div>
    </div>
  </div>
</div>
